<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ul class="progress-tracker progress-tracker--text progress-tracker--center">
                <li class="progress-step" ng-class="{ 'is-complete': bookFlightVm.widget.flightSearchForm.isComplete && bookFlightVm.widget.currentForm !== 'flightSearchForm', 'is-active': bookFlightVm.widget.currentForm === 'flightSearchForm' }">
                    <span class="progress-marker"></span>
                    <span class="progress-text">
                        Nhập thông tin chuyến bay
                    </span>
                </li>
                <li class="progress-step" ng-class="{ 'is-complete': bookFlightVm.widget.flightSelectForm.isComplete && bookFlightVm.widget.currentForm !== 'flightSelectForm', 'is-active': bookFlightVm.widget.currentForm === 'flightSelectForm' }">
                    <span class="progress-marker"></span>
                    <span class="progress-text">
                        Chọn chuyến bay
                    </span>
                </li>
                <li class="progress-step" ng-class="{ 'is-complete': bookFlightVm.widget.passengerForm.isComplete && bookFlightVm.widget.currentForm !== 'passengerForm', 'is-active': bookFlightVm.widget.currentForm === 'passengerForm' }">
                    <span class="progress-marker"></span>
                    <span class="progress-text">
                        Nhập thông tin hành khách
                    </span>
                </li>
                <li class="progress-step" ng-class="{ 'is-complete': bookFlightVm.widget.verifyForm.isComplete && bookFlightVm.widget.currentForm !== 'verifyForm', 'is-active': bookFlightVm.widget.currentForm === 'verifyForm' }">
                    <span class="progress-marker"></span>
                    <span class="progress-text">
                        Xác nhận
                    </span>
                </li>
            </ul>
            <div class="form-container">
                <form name="bookFlightVm.flightSearchForm" class="form center-block" ng-submit="bookFlightVm.onFlightSearchFormSubmit()" ng-show="bookFlightVm.widget.currentForm === 'flightSearchForm'" style="max-width: 720px;" novalidate>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" ng-click="bookFlightVm.changeFlightType('ONE_WAY')" ng-class="{'btn-primary': bookFlightVm.flightType === 'ONE_WAY', 'btn-default': bookFlightVm.flightType !== 'ONE_WAY'}">Một chiều</button>
                        <button type="button" class="btn btn-default" ng-click="bookFlightVm.changeFlightType('ROUND_TRIP')" ng-class="{'btn-primary': bookFlightVm.flightType === 'ROUND_TRIP', 'btn-default': bookFlightVm.flightType !== 'ROUND_TRIP'}">Khứ hồi</button>
                    </div>
                    <fieldset>
                        <legend>Địa điểm</legend>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 form-group">
                                <label>Sân bay đi (*)</label>
                                <select class="form-control" ng-model="bookFlightVm.flightSCO.departureAirport" ng-options="airport.name + ' (' + airport.code + ')' for airport in bookFlightVm.widget.departureAirportSelectOptions" required>
                                </select>
                            </div>
                            <div class="col-xs-12 col-sm-6 form-group">
                                <label>Sân bay đến (*)</label>
                                <select class="form-control" ng-model="bookFlightVm.flightSCO.arrivalAirport" ng-options="airport.name + ' (' + airport.code + ')' for airport in bookFlightVm.widget.arrivalAirportSelectOptions" required>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Thời gian</legend>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 form-group">
                                <label>Ngày đi (*)</label>
                                <div class="input-group">
                                    <input type="text" name="departDatePicker" class="form-control" uib-datepicker-popup='dd/MM/yyyy' is-open="bookFlightVm.widget.departDatePicker.isOpened" ng-model="bookFlightVm.flightSCO.departDate" ng-change="bookFlightVm.validateTravelDate()" required/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="bookFlightVm.openDepartDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 form-group" ng-if="bookFlightVm.flightType === 'ROUND_TRIP'">
                                <label>Ngày về (*)</label>
                                <div class="input-group">
                                    <input type="text" name="returnDatePicker" class="form-control" uib-datepicker-popup='dd/MM/yyyy' is-open="bookFlightVm.widget.returnDatePicker.isOpened" ng-model="bookFlightVm.flightSCO.returnDate" ng-change="bookFlightVm.validateTravelDate()" required/>
                                    <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="bookFlightVm.openReturnDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Hành khách</legend>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 form-group">
                                <label>Người lớn (&#8805; 12 tuổi) (*)</label>
                                <select class="form-control" ng-model="bookFlightVm.flightSCO.numOfAdults" ng-options="option for option in bookFlightVm.widget.numOfAdultsSelectOptions">
                                </select>
                            </div>
                            <div class="col-xs-12 col-sm-4 form-group">
                                <label>Trẻ em (2 < 12 tuổi)</label>
                                <select class="form-control" ng-model="bookFlightVm.flightSCO.numOfChildren" ng-options="option for option in bookFlightVm.widget.numOfChildrenSelectOptions">
                                </select>
                            </div>
                            <div class="col-xs-12 col-sm-4 form-group">
                                <label>Trẻ sơ sinh (< 2 tuổi)</label>
                                <select class="form-control" ng-model="bookFlightVm.flightSCO.numOfInfants" ng-options="option for option in bookFlightVm.widget.numOfInfantsSelectOptions">
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <button type="submit" class="btn btn-primary pull-right" ng-disabled="bookFlightVm.flightSearchForm.$invalid">Tiếp tục</button>
                </form>
                <form class="form flight-select-form" name="bookFlightVm.flightSelectForm" ng-submit="bookFlightVm.onFlightSelectFormSubmit()" ng-show="bookFlightVm.widget.currentForm === 'flightSelectForm'">
                    <p>Chiều đi: {{ bookFlightVm.flightSCO.departureAirport.name }} ({{ bookFlightVm.flightSCO.departureAirport.code }}) - {{ bookFlightVm.flightSCO.arrivalAirport.name }} ({{ bookFlightVm.flightSCO.arrivalAirport.code }}) , Khởi hành: {{ bookFlightVm.flightSCO.departDate | date:'dd/MM/yyyy' }}</p>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th ng-click="bookFlightVm.changeDepartFlightTableSort('id')">
                                    <span class="glyphicon glyphicon-chevron-up" ng-show="bookFlightVm.isDepartTableSortAscending('id')"></span><span class="glyphicon glyphicon-chevron-down" ng-show="bookFlightVm.isDepartTableSortDescending('id')"></span> Mã chuyến bay
                                </th>
                                <th ng-click="bookFlightVm.changeDepartFlightTableSort('time')">
                                    <span class="glyphicon glyphicon-chevron-up" ng-show="bookFlightVm.isDepartTableSortAscending('time')"></span><span class="glyphicon glyphicon-chevron-down" ng-show="bookFlightVm.isDepartTableSortDescending('time')"></span> Giờ khởi hành
                                </th>
                                <th class="hidden-xs" ng-click="bookFlightVm.changeDepartFlightTableSort('fare.YF')">
                                    <span class="glyphicon glyphicon-chevron-up" ng-show="bookFlightVm.isDepartTableSortAscending('fare.YF')"></span><span class="glyphicon glyphicon-chevron-down" ng-show="bookFlightVm.isDepartTableSortDescending('fare.YF')"></span> Thương gia linh hoạt
                                </th>
                                <th class="hidden-xs" ng-click="bookFlightVm.changeDepartFlightTableSort('fare.YE')">
                                    <span class="glyphicon glyphicon-chevron-up" ng-show="bookFlightVm.isDepartTableSortAscending('fare.YE')"></span><span class="glyphicon glyphicon-chevron-down" ng-show="bookFlightVm.isDepartTableSortDescending('fare.YE')"></span> Thương gia tiêu chuẩn
                                </th>
                                <th class="hidden-xs" ng-click="bookFlightVm.changeDepartFlightTableSort('fare.YG')">
                                    <span class="glyphicon glyphicon-chevron-up" ng-show="bookFlightVm.isDepartTableSortAscending('fare.YG')"></span><span class="glyphicon glyphicon-chevron-down" ng-show="bookFlightVm.isDepartTableSortDescending('fare.YG')"></span> Thương gia tiết kiệm
                                </th>
                                <th class="hidden-xs" ng-click="bookFlightVm.changeDepartFlightTableSort('fare.CF')">
                                    <span class="glyphicon glyphicon-chevron-up" ng-show="bookFlightVm.isDepartTableSortAscending('fare.CF')"></span><span class="glyphicon glyphicon-chevron-down" ng-show="bookFlightVm.isDepartTableSortDescending('fare.CF')"></span> Phổ thông linh hoạt
                                </th>
                                <th class="hidden-xs" ng-click="bookFlightVm.changeDepartFlightTableSort('fare.CE')">
                                    <span class="glyphicon glyphicon-chevron-up" ng-show="bookFlightVm.isDepartTableSortAscending('fare.CE')"></span><span class="glyphicon glyphicon-chevron-down" ng-show="bookFlightVm.isDepartTableSortDescending('fare.CE')"></span> Phổ thông tiêu chuẩn
                                </th>
                                <th class="hidden-xs" ng-click="bookFlightVm.changeDepartFlightTableSort('fare.CG')">
                                    <span class="glyphicon glyphicon-chevron-up" ng-show="bookFlightVm.isDepartTableSortAscending('fare.CG')"></span><span class="glyphicon glyphicon-chevron-down" ng-show="bookFlightVm.isDepartTableSortDescending('fare.CG')"></span> Phổ thông tiết kiệm
                                </th>
                                <th class="visible-xs"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat-start="flight in bookFlightVm.departFlights | orderBy:bookFlightVm.widget.departFlightTable.orderAttr:bookFlightVm.widget.departFlightTable.orderReverse">
                                <td>{{ flight.code }}</td>
                                <td>{{ flight.time }}</td>
                                <td class="hidden-xs text-center">
                                    <span ng-if="flight.fare.YF === undefined">Hết vé</span>
                                    <label ng-if="flight.fare.YF !== undefined">
                                        <input type="radio" ng-model="bookFlightVm.departFlightHash" value="{{ flight.code +',' + flight.date + ',' + 'Y,F' }}" name="depart-fare">
                                        <br> {{ flight.fare.YF | number }}
                                        <br> VND
                                    </label>
                                </td>
                                <td class="hidden-xs text-center">
                                    <span ng-if="flight.fare.YE === undefined">Hết vé</span>
                                    <label ng-if="flight.fare.YE !== undefined">
                                        <input type="radio" ng-model="bookFlightVm.departFlightHash" value="{{ flight.code +',' + flight.date + ',' + 'Y,E' }}" name="depart-fare">
                                        <br> {{ flight.fare.YE | number }}
                                        <br> VND
                                    </label>
                                </td>
                                <td class="hidden-xs text-center">
                                    <span ng-if="flight.fare.YG === undefined">Hết vé</span>
                                    <label ng-if="flight.fare.YG !== undefined">
                                        <input type="radio" ng-model="bookFlightVm.departFlightHash" value="{{ flight.code +',' + flight.date + ',' + 'Y,G' }}" name="depart-fare">
                                        <br> {{ flight.fare.YG | number }}
                                        <br> VND
                                    </label>
                                </td>
                                <td class="hidden-xs text-center">
                                    <span ng-if="flight.fare.CF === undefined">Hết vé</span>
                                    <label ng-if="flight.fare.CF !== undefined">
                                        <input type="radio" ng-model="bookFlightVm.departFlightHash" value="{{ flight.code +',' + flight.date + ',' + 'C,F' }}" name="depart-fare">
                                        <br> {{ flight.fare.CF | number }}
                                        <br> VND
                                    </label>
                                </td>
                                <td class="hidden-xs text-center">
                                    <span ng-if="flight.fare.CE === undefined">Hết vé</span>
                                    <label ng-if="flight.fare.CE !== undefined">
                                        <input type="radio" ng-model="bookFlightVm.departFlightHash" value="{{ flight.code +',' + flight.date + ',' + 'C,E' }}" name="depart-fare">
                                        <br> {{ flight.fare.CE | number }}
                                        <br> VND
                                    </label>
                                </td>
                                <td class="hidden-xs text-center">
                                    <span ng-if="flight.fare.CG === undefined">Hết vé</span>
                                    <label ng-if="flight.fare.CG !== undefined">
                                        <input type="radio" ng-model="bookFlightVm.departFlightHash" value="{{ flight.code +',' + flight.date + ',' + 'C,G' }}" name="depart-fare">
                                        <br> {{ flight.fare.CG | number }}
                                        <br> VND
                                    </label>
                                </td>
                                <td class="visible-xs">
                                    <span class="glyphicon glyphicon-chevron-down" ng-show="!flight.expanded" ng-click="flight.expanded = true"></span>
                                    <span class="glyphicon glyphicon-chevron-up" ng-show="flight.expanded" ng-click="flight.expanded = false"></span>
                                </td>
                            </tr>
                            <tr class="visible-xs" ng-show="flight.expanded" ng-repeat-end>
                                <td class="row" colspan="4">
                                    <div class="col-xs-6">
                                        <div ng-if="flight.fare.YF !== undefined" class="radio">
                                            <label>
                                                <input type="radio" name="depart-fare-xs" value="{{ flight.code +',' + flight.date + ',' + 'Y,F' }}" ng-model="bookFlightVm.departFlightHash"> Thương gia linh hoạt
                                                <br>{{ flight.fare.YF | number }} VND
                                            </label>
                                        </div>
                                        <div ng-if="flight.fare.YE !== undefined" class="radio">
                                            <label>
                                                <input type="radio" name="depart-fare-xs" value="{{ flight.code +',' + flight.date + ',' + 'Y,E' }}" ng-model="bookFlightVm.departFlightHash"> Thương gia tiêu chuẩn
                                                <br>{{ flight.fare.YE | number }} VND
                                            </label>
                                        </div>
                                        <div ng-if="flight.fare.YG !== undefined" class="radio">
                                            <label>
                                                <input type="radio" name="depart-fare-xs" value="{{ flight.code +',' + flight.date + ',' + 'Y,G' }}" ng-model="bookFlightVm.departFlightHash"> Thương gia tiết kiệm
                                                <br>{{ flight.fare.YG | number }} VND
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div ng-if="flight.fare.CF !== undefined" class="radio">
                                            <label>
                                                <input type="radio" name="depart-fare-xs" value="{{ flight.code +',' + flight.date + ',' + 'C,F' }}" ng-model="bookFlightVm.departFlightHash"> Phổ thông linh hoạt
                                                <br>{{ flight.fare.CF | number }} VND
                                            </label>
                                        </div>
                                        <div ng-if="flight.fare.CE !== undefined" class="radio">
                                            <label>
                                                <input type="radio" name="depart-fare-xs" value="{{ flight.code +',' + flight.date + ',' + 'C,E' }}" ng-model="bookFlightVm.departFlightHash"> Phổ thông tiêu chuẩn
                                                <br>{{ flight.fare.CE | number }} VND
                                            </label>
                                        </div>
                                        <div ng-if="flight.fare.CG !== undefined" class="radio">
                                            <label>
                                                <input type="radio" name="depart-fare-xs" value="{{ flight.code +',' + flight.date + ',' + 'C,G' }}" ng-model="bookFlightVm.departFlightHash"> Phổ thông linh hoạt
                                                <br>{{ flight.fare.CG | number }} VND
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div ng-if="bookFlightVm.flightType === 'ROUND_TRIP'">
                        <p>Chiều về: {{ bookFlightVm.flightSCO.arrivalAirport.name }} ({{ bookFlightVm.flightSCO.arrivalAirport.code }}) - {{ bookFlightVm.flightSCO.departureAirport.name }} ({{ bookFlightVm.flightSCO.departureAirport.code }}) , Khởi hành: {{ bookFlightVm.flightSCO.returnDate | date:'dd/MM/yyyy' }}</p>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th ng-click="bookFlightVm.changeReturnFlightTableSort('id')">
                                        <span class="glyphicon glyphicon-chevron-up" ng-show="bookFlightVm.isReturnTableSortAscending('id')"></span><span class="glyphicon glyphicon-chevron-down" ng-show="bookFlightVm.isReturnTableSortDescending('id')"></span> Mã chuyến bay
                                    </th>
                                    <th ng-click="bookFlightVm.changeReturnFlightTableSort('time')">
                                        <span class="glyphicon glyphicon-chevron-up" ng-show="bookFlightVm.isReturnTableSortAscending('time')"></span><span class="glyphicon glyphicon-chevron-down" ng-show="bookFlightVm.isReturnTableSortDescending('time')"></span> Giờ khởi hành
                                    </th>
                                    <th class="hidden-xs" ng-click="bookFlightVm.changeReturnFlightTableSort('fare.YF')">
                                        <span class="glyphicon glyphicon-chevron-up" ng-show="bookFlightVm.isReturnTableSortAscending('fare.YF')"></span><span class="glyphicon glyphicon-chevron-down" ng-show="bookFlightVm.isReturnTableSortDescending('fare.YF')"></span> Thương gia linh hoạt
                                    </th>
                                    <th class="hidden-xs" ng-click="bookFlightVm.changeReturnFlightTableSort('fare.YE')">
                                        <span class="glyphicon glyphicon-chevron-up" ng-show="bookFlightVm.isReturnTableSortAscending('fare.YE')"></span><span class="glyphicon glyphicon-chevron-down" ng-show="bookFlightVm.isReturnTableSortDescending('fare.YE')"></span> Thương gia tiêu chuẩn
                                    </th>
                                    <th class="hidden-xs" ng-click="bookFlightVm.changeReturnFlightTableSort('fare.YG')">
                                        <span class="glyphicon glyphicon-chevron-up" ng-show="bookFlightVm.isReturnTableSortAscending('fare.YG')"></span><span class="glyphicon glyphicon-chevron-down" ng-show="bookFlightVm.isReturnTableSortDescending('fare.YG')"></span> Thương gia tiết kiệm
                                    </th>
                                    <th class="hidden-xs" ng-click="bookFlightVm.changeReturnFlightTableSort('fare.CF')">
                                        <span class="glyphicon glyphicon-chevron-up" ng-show="bookFlightVm.isReturnTableSortAscending('fare.CF')"></span><span class="glyphicon glyphicon-chevron-down" ng-show="bookFlightVm.isReturnTableSortDescending('fare.CF')"></span> Phổ thông linh hoạt
                                    </th>
                                    <th class="hidden-xs" ng-click="bookFlightVm.changeReturnFlightTableSort('fare.CE')">
                                        <span class="glyphicon glyphicon-chevron-up" ng-show="bookFlightVm.isReturnTableSortAscending('fare.CE')"></span><span class="glyphicon glyphicon-chevron-down" ng-show="bookFlightVm.isReturnTableSortDescending('fare.CE')"></span> Phổ thông tiêu chuẩn
                                    </th>
                                    <th class="hidden-xs" ng-click="bookFlightVm.changeReturnFlightTableSort('fare.CG')">
                                        <span class="glyphicon glyphicon-chevron-up" ng-show="bookFlightVm.isReturnTableSortAscending('fare.CG')"></span><span class="glyphicon glyphicon-chevron-down" ng-show="bookFlightVm.isReturnTableSortDescending('fare.CG')"></span> Phổ thông tiết kiệm
                                    </th>
                                    <th class="visible-xs"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat-start="flight in bookFlightVm.returnFlights | orderBy:bookFlightVm.widget.returnFlightTable.orderAttr:bookFlightVm.widget.returnFlightTable.orderReverse">
                                    <td>{{ flight.code }}</td>
                                    <td>{{ flight.time }}</td>
                                    <td class="hidden-xs text-center">
                                        <span ng-if="flight.fare.YF === undefined">Hết vé</span>
                                        <label ng-if="flight.fare.YF !== undefined">
                                            <input type="radio" ng-model="bookFlightVm.returnFlightHash" value="{{ flight.code +',' + flight.date + ',' + 'Y,F' }}" name="return-fare">
                                            <br> {{ flight.fare.YF | number }}
                                            <br> VND
                                        </label>
                                    </td>
                                    <td class="hidden-xs text-center">
                                        <span ng-if="flight.fare.YE === undefined">Hết vé</span>
                                        <label ng-if="flight.fare.YE !== undefined">
                                            <input type="radio" ng-model="bookFlightVm.returnFlightHash" value="{{ flight.code +',' + flight.date + ',' + 'Y,E' }}" name="return-fare">
                                            <br> {{ flight.fare.YE | number }}
                                            <br> VND
                                        </label>
                                    </td>
                                    <td class="hidden-xs text-center">
                                        <span ng-if="flight.fare.YG === undefined">Hết vé</span>
                                        <label ng-if="flight.fare.YG !== undefined">
                                            <input type="radio" ng-model="bookFlightVm.returnFlightHash" value="{{ flight.code +',' + flight.date + ',' + 'Y,G' }}" name="return-fare">
                                            <br> {{ flight.fare.YG | number }}
                                            <br> VND
                                        </label>
                                    </td>
                                    <td class="hidden-xs text-center">
                                        <span ng-if="flight.fare.CF === undefined">Hết vé</span>
                                        <label ng-if="flight.fare.CF !== undefined">
                                            <input type="radio" ng-model="bookFlightVm.returnFlightHash" value="{{ flight.code +',' + flight.date + ',' + 'C,F' }}" name="return-fare">
                                            <br> {{ flight.fare.CF | number }}
                                            <br> VND
                                        </label>
                                    </td>
                                    <td class="hidden-xs text-center">
                                        <span ng-if="flight.fare.CE === undefined">Hết vé</span>
                                        <label ng-if="flight.fare.CE !== undefined">
                                            <input type="radio" ng-model="bookFlightVm.returnFlightHash" value="{{ flight.code +',' + flight.date + ',' + 'C,E' }}" name="return-fare">
                                            <br> {{ flight.fare.CE | number }}
                                            <br> VND
                                        </label>
                                    </td>
                                    <td class="hidden-xs text-center">
                                        <span ng-if="flight.fare.CG === undefined">Hết vé</span>
                                        <label ng-if="flight.fare.CG !== undefined">
                                            <input type="radio" ng-model="bookFlightVm.returnFlightHash" value="{{ flight.code +',' + flight.date + ',' + 'C,G' }}" name="return-fare">
                                            <br> {{ flight.fare.CG | number }}
                                            <br> VND
                                        </label>
                                    </td>
                                    <td class="visible-xs">
                                        <span class="glyphicon glyphicon-chevron-down" ng-show="!flight.expanded" ng-click="flight.expanded = true"></span>
                                        <span class="glyphicon glyphicon-chevron-up" ng-show="flight.expanded" ng-click="flight.expanded = false"></span>
                                    </td>
                                </tr>
                                <tr class="visible-xs" ng-show="flight.expanded" ng-repeat-end>
                                    <td class="row" colspan="4">
                                        <div class="col-xs-6">
                                            <div ng-if="flight.fare.YF !== undefined" class="radio">
                                                <label>
                                                    <input type="radio" name="return-fare-xs" value="{{ flight.code +',' + flight.date + ',' + 'Y,F' }}" ng-model="bookFlightVm.returnFlightHash"> Thương gia linh hoạt
                                                    <br>{{ flight.fare.YF | number }} VND
                                                </label>
                                            </div>
                                            <div ng-if="flight.fare.YE !== undefined" class="radio">
                                                <label>
                                                    <input type="radio" name="return-fare-xs" value="{{ flight.code +',' + flight.date + ',' + 'Y,E' }}" ng-model="bookFlightVm.returnFlightHash"> Thương gia tiêu chuẩn
                                                    <br>{{ flight.fare.YE | number }} VND
                                                </label>
                                            </div>
                                            <div ng-if="flight.fare.YG !== undefined" class="radio">
                                                <label>
                                                    <input type="radio" name="return-fare-xs" value="{{ flight.code +',' + flight.date + ',' + 'Y,G' }}" ng-model="bookFlightVm.returnFlightHash"> Thương gia tiết kiệm
                                                    <br>{{ flight.fare.YG | number }} VND
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div ng-if="flight.fare.CF !== undefined" class="radio">
                                                <label>
                                                    <input type="radio" name="return-fare-xs" value="{{ flight.code +',' + flight.date + ',' + 'C,F' }}" ng-model="bookFlightVm.returnFlightHash"> Phổ thông linh hoạt
                                                    <br>{{ flight.fare.CF | number }} VND
                                                </label>
                                            </div>
                                            <div ng-if="flight.fare.CE !== undefined" class="radio">
                                                <label>
                                                    <input type="radio" name="return-fare-xs" value="{{ flight.code +',' + flight.date + ',' + 'C,E' }}" ng-model="bookFlightVm.returnFlightHash"> Phổ thông tiêu chuẩn
                                                    <br>{{ flight.fare.CE | number }} VND
                                                </label>
                                            </div>
                                            <div ng-if="flight.fare.CG !== undefined" class="radio">
                                                <label>
                                                    <input type="radio" name="return-fare-xs" value="{{ flight.code +',' + flight.date + ',' + 'C,G' }}" ng-model="bookFlightVm.returnFlightHash"> Phổ thông linh hoạt
                                                    <br>{{ flight.fare.CG | number }} VND
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right" ng-disabled="(bookFlightVm.flightType === 'ONE_WAY' &&bookFlightVm.departFlightHash === undefined) || (bookFlightVm.flightType === 'ROUND_TRIP' && (bookFlightVm.departFlightHash === undefined || bookFlightVm.returnFlightHash === undefined))">Tiếp tục</button>
                    <button type="button" class="btn btn-default pull-right" ng-click="bookFlightVm.onFlightSelectFormBack()">Quay về</button>
                </form>
                <form class="form center-block" name="bookFlightVm.passengerForm" ng-show="bookFlightVm.widget.currentForm === 'passengerForm'" style="max-width: 720px;" novalidate>
                    <div ng-if="bookFlightVm.adultPassengers.length > 0">
                        <fieldset ng-repeat="passenger in bookFlightVm.adultPassengers">
                            <legend>Người lớn {{ $index + 1 }}</legend>
                            <div class="form-group col-xs-12 col-sm-3">
                                <select class="form-control" placeholder="Danh xưng" ng-model="passenger.title" required>
                                    <option value="Ông">Ông</option>
                                    <option value="Bà">Bà</option>
                                    <option value="Chị">Chị</option>
                                </select>
                            </div>
                            <div class="form-group col-xs-12 col-sm-5">
                                <input type="text" class="form-control" placeholder="Tên" ng-model="passenger.firstName" required ng-pattern="/^[a-zA-Z ]*$/">
                            </div>
                            <div class="form-group col-xs-12 col-sm-4">
                                <input type="text" class="form-control" placeholder="Họ" ng-model="passenger.lastName" required ng-pattern="/^[a-zA-Z ]*$/">
                            </div>
                        </fieldset>
                    </div>
                    <div ng-if="bookFlightVm.childPassengers.length > 0">
                        <fieldset ng-repeat="passenger in bookFlightVm.childPassengers">
                            <legend>Trẻ em {{ $index + 1 }}</legend>
                            <div class="form-group col-xs-12 col-sm-3">
                                <select class="form-control" placeholder="Danh xưng" ng-model="passenger.title">
                                    <option value="Ông">Ông</option>
                                    <option value="Bà">Bà</option>
                                    <option value="Chị">Chị</option>
                                </select>
                            </div>
                            <div class="form-group col-xs-12 col-sm-5">
                                <input type="text" class="form-control" placeholder="Tên" ng-model="passenger.firstName" required ng-pattern="/^[a-zA-Z ]*$/">
                            </div>
                            <div class="form-group col-xs-12 col-sm-4">
                                <input type="text" class="form-control" placeholder="Họ" ng-model="passenger.lastName" required ng-pattern="/^[a-zA-Z ]*$/">
                            </div>
                        </fieldset>
                    </div>
                    <div ng-if="bookFlightVm.infantPassengers.length > 0">
                        <fieldset ng-repeat="passenger in bookFlightVm.infantPassengers">
                            <legend>Trẻ sơ sinh {{ $index + 1 }}</legend>
                            <div class="form-group col-xs-12 col-sm-3">
                                <select class="form-control" placeholder="Danh xưng" ng-model="passenger.title">
                                    <option value="Ông">Ông</option>
                                    <option value="Bà">Bà</option>
                                    <option value="Chị">Chị</option>
                                </select>
                            </div>
                            <div class="form-group col-xs-12 col-sm-5">
                                <input type="text" class="form-control" placeholder="Tên" ng-model="passenger.firstName" required ng-pattern="/^[a-zA-Z ]*$/">
                            </div>
                            <div class="form-group col-xs-12 col-sm-4">
                                <input type="text" class="form-control" placeholder="Họ" ng-model="passenger.lastName" required ng-pattern="/^[a-zA-Z ]*$/">
                            </div>
                        </fieldset>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right" ng-click="bookFlightVm.onPassengerFormSubmit()" ng-disabled="bookFlightVm.passengerForm.$invalid">Tiếp tục</button>
                    <button type="button" class="btn btn-default pull-right" ng-click="bookFlightVm.onPassengerFormBack()">Quay về</button>
                </form>
                <div class="center-block verify-form" ng-if="bookFlightVm.widget.currentForm === 'verifyForm'" style="max-width: 720px;">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Thông tin đặt chỗ</h3>
                        </div>
                        <div class="panel-body">
                            <div>
                                <span class="info-title">Mã đặt chỗ:</span>
                                <span class="info-content">{{ bookFlightVm.booking.id }}</span>
                            </div>
                            <div>
                                <span class="info-title">Loại:</span>
                                <span ng-if="bookFlightVm.flightType === 'ONE_WAY'" class="info-content">Một chiều</span>
                                <span ng-if="bookFlightVm.flightType === 'ROUND_TRIP'" class="info-content">Khứ hồi</span>
                            </div>
                            <div>
                                <span class="info-title">Chiều đi</span>
                                <br>
                                <span class="info-content">
                                <ul>
                                    <li>Điểm đi: {{ bookFlightVm.flightSCO.departureAirport.name }} ({{ bookFlightVm.flightSCO.departureAirport.code }})</li>
                                    <li>Điểm đến: {{ bookFlightVm.flightSCO.arrivalAirport.name }} ({{ bookFlightVm.flightSCO.arrivalAirport.code }})</li>
                                    <li>Khởi hành: {{ bookFlightVm.booking.flightDetails[0].date }}, {{ bookFlightVm.booking.flightDetails[0].time }}</li>
                                </ul>
                            </span>
                            </div>
                            <div ng-if="bookFlightVm.flightType === 'ROUND_TRIP'">
                                <span class="info-title">Chiều về</span>
                                <br>
                                <span class="info-content">
                                <ul>
                                    <li>Điểm đi: {{ bookFlightVm.flightSCO.arrivalAirport.name }} ({{ bookFlightVm.flightSCO.arrivalAirport.code }})</li>
                                    <li>Điểm đến: {{ bookFlightVm.flightSCO.departureAirport.name }} ({{ bookFlightVm.flightSCO.departureAirport.code }})</li>
                                    <li>Khởi hành: {{ bookFlightVm.booking.flightDetails[1].date }}, {{ bookFlightVm.booking.flightDetails[1].time }}</li>
                                </ul>
                            </span>
                            </div>
                            <div>
                                <span class="info-title">Hành khách</span>
                                <br>
                                <span class="info-content">
                                <ul>
                                    <li ng-repeat="passenger in bookFlightVm.booking.passengers">
                                        {{ passenger.title }}: {{ passenger.firstName }} {{ passenger.lastName }}
                                    </li>
                                </ul>
                            </span>
                            </div>
                            <div>
                                <span class="info-title">Thanh toán</span>
                                <br>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Tên dịch vụ</th>
                                            <th>Giá tiền</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <td><strong>Tổng</strong></td>
                                            <td class="text-right"><strong>{{ bookFlightVm.booking.totalFare }}</strong></td>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr ng-repeat="flight in bookFlightVm.booking.flightDetails">
                                            <td>
                                                Vé {{ flight.departureAirport }} - {{ flight.arrivalAirport }}, {{ flight.class | classDecodeFilter:'vn' }} {{ flight.fareType | fareTypeDecodeFilter:'vn' }}
                                            </td>
                                            <td class="text-right">{{ flight.fare }} VND</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary pull-right" ng-click="bookFlightVm.onVerifyFormVerifyBooking()">Xác nhận</button>
                    <button type="button" class="btn btn-default pull-right" ng-click="bookFlightVm.onVerifyFormBack()">Quay về</button>
                </div>
                <div class="text-center" ng-if="bookFlightVm.widget.currentForm === 'finishForm'">
                    <h1>Bạn đã đặt chỗ thành công!</h1>
                    <a type="button" class="btn btn-primary" ui-sref="home">Quay về trang chủ</a>
                </div>
            </div>
        </div>
    </div>
</div>
